
<%if(errorMessage){%>
<div class="error">
    <%=errorMessage%>
</div>
<%}%>
<div class="product-form">
<h1>Login</h1>
<form action="/login" method="post">
    <label for="email">Email:</label>
    <input id="email" name="email"  type="email">
    <label for="password">Password :</label>
    <input id="password" name="password" type="password">
    <button type="submit">Login</button>
</form>
</div>
