

<div class="product-form">
<h1>Add new product</h1>
<form action="">
    <label for="">Product name :</label>
    <input type="text">
    <label for="">Product description :</label>
    <input type="text">
    <label for="">Product  price :</label>
    <input type="text">
    <label for="">Product image :</label>
    <input type="text">
    <button>Add product</button>
</form>
</div>
