

<div class="product-form">
<h1>Add new product</h1>
<form action="/" method="post">
    <label for="name">Product name :</label>
    <input name="name" id="name" type="text">
    <label for="desc">Product description :</label>
    <input id="desc" name="desc"  type="text">
    <label for="price">Product  price :</label>
    <input id="price" name="price" type="text">
    <label  for="image">Product image :</label>
    <input name="image" id="image" type="text">
    <button>Add product</button>
</form>
</div>
