<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./products.css">
    <title>Products</title>
</head>
<body>
<nav>
 <div class="nav">
 <ul>
    <li><h1>Inventory App</h1></li>
    <li id="pageName">Products</li>
 </ul>
 </div>
</nav>

<main>
    <div class="product-container">
        <div class="product-table">
            <table>
                <thead>  
                  <tr>
                    <th>ID</th>
                     <th>Name</th>
                     <th>Descriptions</th>
                     <th>Price</th>
                     <th>Products</th>
                  </tr>
                </thead>

               <tbody>
                <tr>
                <td>1</td>
                <td>Atomic habits</td>
                <td>A supreme practical and useful book</td>
                <td>300</td>
                <td><img src="https://i.pinimg.com/736x/91/28/7f/91287f6a800544b875d06ee0e91a364d.jpg" alt="Atomic habit" srcset=""></td>
              </tr>

               <tr>
                <td>2</td>
                <td>Ikigai</td>
                <td>A Japanese secret to live happy and long life</td>
                <td>340</td>
                <td><img src="https://i.pinimg.com/736x/f1/da/5e/f1da5e153c9b18f83057988915a0ed36.jpg" alt="Ikigai" srcset=""></td>
              </tr>


               <tr>
                <td>3</td>
                <td>Deep work</td>
                <td>Rule for focused in distracted world</td>
                <td>300</td>
                <td><img src="https://i.pinimg.com/736x/18/aa/16/18aa161af929c9c8f9a38bc812d85504.jpg" alt="Deep work" srcset=""></td>
              </tr>

             </tbody>
             
            </table>
        </div>
    </div>
</main>

<footer></footer>
</body>
</html>